*~
*.pdf
*.synctex.gz
*.log
*.aux
*.toc
*.out
*.dvi
*.bbl
*.blg
*.nav
*.snm
*.auxlock
*.dpth
*.md5

*.p


build/*
TexCode/*
manta
images/
data/
training/
logs/
gan/

src/.idea/*
.idea/*

*.hi
!references/*.pdf
.cproject
.project
.settings

Debug
Release

*.pyc
*.os
*.o
*.so
*.jar
*.pydevproject
