/.idea/workspace.xml
/trainingData/trainingKarman_time_1000randu.p
/trainingData/trainingKarman_time_5000randu.p
/trainingData/trainingKarman_time_1000randu.pf
/trainingData/trainingKarman_time_5000randu.pf
